interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.github.com/repos/jondot/formation/stargazers
  response:
    body:
      string: '[{"login":"jondot","id":83390,"node_id":"MDQ6VXNlcjgzMzkw","avatar_url":"https://avatars0.githubusercontent.com/u/83390?v=4","gravatar_id":"","url":"https://api.github.com/users/jondot","html_url":"https://github.com/jondot","followers_url":"https://api.github.com/users/jondot/followers","following_url":"https://api.github.com/users/jondot/following{/other_user}","gists_url":"https://api.github.com/users/jondot/gists{/gist_id}","starred_url":"https://api.github.com/users/jondot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jondot/subscriptions","organizations_url":"https://api.github.com/users/jondot/orgs","repos_url":"https://api.github.com/users/jondot/repos","events_url":"https://api.github.com/users/jondot/events{/privacy}","received_events_url":"https://api.github.com/users/jondot/received_events","type":"User","site_admin":false},{"login":"cfirmo33","id":2821826,"node_id":"MDQ6VXNlcjI4MjE4MjY=","avatar_url":"https://avatars2.githubusercontent.com/u/2821826?v=4","gravatar_id":"","url":"https://api.github.com/users/cfirmo33","html_url":"https://github.com/cfirmo33","followers_url":"https://api.github.com/users/cfirmo33/followers","following_url":"https://api.github.com/users/cfirmo33/following{/other_user}","gists_url":"https://api.github.com/users/cfirmo33/gists{/gist_id}","starred_url":"https://api.github.com/user[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.github.com/repos/no-body/formation/stargazers
  response:
    body:
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/reference/activity#list-stargazers"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1607954507'
      X-Ratelimit-Used:
      - '4'
      status:
      - 404 Not Found
      x-github-media-type:
      - github.v3; format=json
    status:
      code: 404
      message: Not Found
    url: https://api.github.com/repos/no-body/formation/stargazers
version: 1
